{% extends "/layout.html" %}

{% block styles %}
<style>
img.animal_icon {
	width: 90px;
}
</style>
{% endblock %}

{% block body %}

<div class="row">

	<!-- left column -->
	<div class="col-md-6">
		<h3>Do you need a Spirit Animal?</h3>
		<ul>
			<li>Life moving too fast?</li>
			<li>Do you need a pick-me up?</li>
			<li>Bitten by a strange animal?</li>
		</ul>

		<p>If yes to any of these we can help.</p>
		<br>
		<img src="/static/img/petting_zoo.jpg" alt="Children picking out there spirit animals." class="img-polaroid"/>
		
	</div>

	<!-- right column -->
	<div class="col-md-6">
		<form method="POST" action="/rent">
			<legend><h3>Quick Rental Form</h3></legend>

			<label for="name">Name</label>
			<input type="text" id="name" name="name">

			<label for="lifegoal">Life Goal</label>
			<textarea id="lifegoal" name="lifegoal"></textarea>

			<label for="rentaltime">How long do you need it?</label>
			<select id="rentaltime" name="rentaltime">
				<option value="hour">1 hour</option>
				<option value="day">1 day</option>
				<option value="year">1 Year</option>
				<option value="eternity">Eternity</option>
			</select>

			<label for="animal">Select your Spirit Animal</label>
			
			{% for name, info in animals.items() %}
			<label class="radio">
				<input type="radio" name="animal" value="{{ name }}">
				<img class="animal_icon img-rounded" src="/static/img/animals/{{ info.get('image') }}">
				{{ name }}, {{ info.get('spirit')}}
			</label>
			{% endfor %}

			<input type="submit" value="Rent It" class="btn btn-large btn-primary"/>

		</form>

	</div>

</div>

{% endblock %}


{% block scripts %}{% endblock %}